<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
    <meta name= "application-name" content="Portfolio Website || nirmit aggarwal">
    <meta name="keywords" content="Nirmit aggarwal, nirmit, nirmit agg, websites, web development, nirmit web developer, gate to innovate, nirmit, aggarwal">
  
    <link rel="shortcut icon" type="image/jpg" href="./images/favicon.ico" />
</head>

<body>

    <%- include('../partials/navbar') %>

    <!-- hero section starts -->

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div
                        class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>I'm a proffesional Full Stack Web-developer...</h1>
                        <p>I can make your dream <span class="bold-style">Website</span> come true...</p>
                        <a href="#aboutid"><button class="btn-primary btn-style"> Know more about me...</button></a>
                    </div>

                    <div class=" col-md-6 col-12 hero-text order-md-0 order-1">
                        <figure>
                            <img src="images/Idea.svg" alt="herosection_image" style="width: 100%" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- hero section ends  -->


    <!-- About me starts -->
    <%- include('../partials/about') %>
    <!-- About me ends  -->

    <!-- services starts -->
    <%- include('../partials/services') %>
    <!-- services ends  -->

    <!-- services starts -->
    <%- include('../partials/contact') %>
    <!-- services ends  -->


    <!-- scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

</body>

</html>
