<!-- About me starts -->

<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About me</h1>
            <p class="text-center sub-heading">Make Your Dream Website Come True...</p>
            <div class="row">


                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="images/Server .svg" alt="herosection_image" style="width: 100%" />
                    </figure>
                </div>

                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>If your project idea is a dish, I have the recipe!</h1>
                    <p>I am a <%= age %> years old <span class="bold-style"> Full-Stack Web-Developer </span>keen to
                        learn new web technologies. I
                        know HTML, CSS, JS, NODE JS. I am also fluent in npm packages like Express, Bodyparser,
                        Lodash, mongodb, bcrypt, md5, stripe(payment gateway for node js) etc.</p>
                    <a href="/cv"><button class="btn-primary btn-style"> Know more about me...</button></a>

                </div>


            </div>
        </div>
    </div>
</div>

<!-- About me ends  -->