<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Services</h1>
            <p class="text-center sub-heading">Services I provide to you..</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ho1">
                            <div class="icon">
                                <img src="https://www.kindpng.com/picc/m/592-5922802_transparent-background-lightbulb-icon-hd-png-download.png"
                                    alt="" style="width:75px; border-radius:25%; border: 2px grey;">

                            </div>
                            <h4>Databases</h4>
                            <p>With frameworks and shells I can help you connect your websites to mangodb databases. I
                                can also help you with database CRUD Management. I only work with mongodb databses
                                </charges>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ho2">
                            <div class="icon">
                                <img src="https://www.kindpng.com/picc/m/592-5922802_transparent-background-lightbulb-icon-hd-png-download.png"
                                    alt="" style="width:75px; border-radius:25%; border: 2px grey;">

                            </div>
                            <h4>Hosting</h4>
                            <p>I provide free hosting with some temporary domains. I can also take care of hosting stuff
                                and Domain connection. Note: You have to pay for your permanent domain name..</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ho3">
                            <div class="icon">
                                <img src="https://www.kindpng.com/picc/m/592-5922802_transparent-background-lightbulb-icon-hd-png-download.png"
                                    alt="" style="width:75px; border-radius:25%; border: 2px grey;">

                            </div>
                            <h4>SSL Certification</h4>
                            <p>I provide you with 1 month of free certification with https and secure symbol.
                                If you are using a website that needs some permissions from the user ,It is important to
                                have SSL certification.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ho4">
                            <div class="icon">
                                <img src="https://www.kindpng.com/picc/m/592-5922802_transparent-background-lightbulb-icon-hd-png-download.png"
                                    alt="" style="width:75px; border-radius:25%; border: 2px grey;">

                            </div>
                            <h4>Static website</h4>
                            <p>
                                I can make you a Static Website. charges depending on WireFrame of website. Extra
                                charges for designing it myself and templates are available.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ho5">
                            <div class="icon">
                                <img src="https://www.kindpng.com/picc/m/592-5922802_transparent-background-lightbulb-icon-hd-png-download.png"
                                    alt="" style="width:75px; border-radius:25%; border: 2px grey;">

                            </div>
                            <h4>Backend</h4>
                            <p>I can help you with backend work. Charges depending on needs via backend and features
                                expected.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ho6">
                            <div class="icon">
                                <img src="https://www.kindpng.com/picc/m/592-5922802_transparent-background-lightbulb-icon-hd-png-download.png"
                                    alt="" style="width:75px; border-radius:25%; border: 2px grey;">

                            </div>
                            <h4>Secure Entry system</h4>
                            <p>
                                I can get you a secure system of login and registering. Including oAuth(sign in via
                                google or other platform).
                                Charges according to the level of security.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>